#*
 Copyright 2010-2014 Norconex Inc.
 
 This file is part of Norconex Committer.
 
 Norconex Committer is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Norconex Committer is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex Committer. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 

<p class="lead">
<a href="download.html" class="btn btn-primary btn-large">Download ${currentStableVersion}</a> 
<br/><br/>

Norconex Committer is a Java API responsible for "committing"
or "applying" data to a target data repository (typically as part of an 
ETL process).  It is used by 
<a href="http://www.norconex.com/product/collector-http">Norconex HTTP Collector</a>
to handle files successfully crawled, but you can use it in your own project.
To be useful, you need a concrete implementation:
</p>


*********************************************************

$h2 Solr/LucidWorks

Integrates fully with Apache Solr and LucidWorks Search.

<a href="http://www.norconex.com/product/committer-solr/" class="btn btn-primary">
  Download
</a>


$h2 Elasticsearch

Send your data to Elasticsearch

<a href="http://www.norconex.com/product/committer-elasticsearch/" class="btn btn-primary">
  Download
</a>


$h2 HP Autonomy IDOL

Supports sending documents to IDOL, DIH, or CFS component.

<a href="http://www.norconex.com/product/committer-idol/" class="btn btn-primary">
  Download
</a>


$h2 Contribute your own

Create your own implementation.

<a href="blah.html" class="btn btn-primary">
  Get Started
</a>