#*
 Copyright 2010-2014 Norconex Inc.
 
 This file is part of Norconex Committer.
 
 Norconex Committer is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Norconex Committer is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex Committer. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Concrete Implementation</title><meta name="Author" content="Norconex Inc." /></head> 

Creating your own implmementation is done using Java. You have to extend the 
[ICommitter](./apidocs/com/norconex/committer/ICommitter) interface.  
Abstract classes can help you get started.  Have a look at the 
[AbstractMappedCommitter](./apidocs/com/norconex/committer/AbstractMappedCommitter)
class, which handles queuing
of documents, sending in batches, as well as mapping original document 
metadata with your repository fields.


If you are using Maven, simply add the Committer
[project dependency](./download.html#source) to your `pom.xml`.
If you are not using Maven, you can add all JAR files packaged with the 
Committer zip file in the 
"lib" folder to your application classpath.  

Refer to the [Norconex Committer Javadoc](./apidocs/index.html) for more 
documentation and options on available Committer classes you can use or extend.
You can look at the source code of other committer implementations
to help you get started.

<a name="Extend_the_HTTP_Collector"></a>

